@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;500;700;800&display=swap');

$black: #231f20;
$lightblack: #292e37;
$blue: #0196ff;
$white: #fff;
$milk: rgba(41, 46, 55, 0.03);
$darkblue: #131A2B;
$gray: #e2e2e2;

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  color: $black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
  object-fit: cover;
  object-position: center;
  height: auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5;
  @media (max-width: 376px) {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
  }
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 2.4;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

h6 {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
}

.page {
  overflow-x: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1226px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    grid-column-gap: 32px;
    align-items: center;
    @media (max-width: 376px) {
        display: none;
    }
    
    a {
      text-decoration: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: $black;
      transition: all 0.1s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__burger {
    display: none;
    @media (max-width: 376px) {
        display: block;
    }
  }
}

.btn__group {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  width: 100%;

  @media (max-width: 376px) {
    flex-direction: column;
    grid-row-gap: 16px;
    }
  &-item {
    border-radius: 40px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .1s linear;
    &.first {
      background: $blue;
      width: 232px;
      color: $white;
      @media (max-width: 376px) {
        width: 100%;
        }

      &:hover {
        background: $black;
        color: $blue;
      }
    }
    &.second {
      border: 2px solid $blue;
      width: 186px;
      color: $blue;
      background-color: $white;
      @media (max-width: 376px) {
        width: 100%;
        }

      &:hover {
        border-color: $black;
        background-color: $black;
        color: $blue;
      }
    }
    
  }
}

.intro {
  padding: 25px 0 115px;

  @media (max-width: 376px) {
    padding: 50px 0 80px;
    }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 376px) {
        flex-direction: column;
        }
  }
  &__info {
    width: 47%;
    @media (max-width: 376px) {
        width: 100%;
        }
    p {
      margin: 10px 0 30px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.85;
      color: rgba($black, 0.7);
      @media (max-width: 376px) {
        padding: 8px 0 24px;
        font-size: 17px;
        line-height: 1.6;
        }
    }
  }
  &__img {
    width: 50%;
    @media (max-width: 376px) {
        margin-top: 32px;
        width: 100%;
        }
  }
}

.about {
  background-color: $lightblack;
  color: $white;
  padding: 62px 0;
  @media (max-width: 376px) {
    padding: 32px 0 48px;
    }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 376px) {
        flex-direction: column;
        }
  }
  &__title {
    @media (max-width: 376px) {
        font-size: 20px;
line-height: 34px;
    }
  }
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 376px) {
        width: 100%;
        margin-top: 17px;
        }
    p {
      color: rgba($white, 0.8);
      line-height: 1.8;
      font-size: 20px;
      @media (max-width: 376px) {
        font-size: 16px;
line-height: 36px;
        }
    }
  }
}

.focus {
  padding: 80px 0;
  background-color: $white;
  @media (max-width: 376px) {
    padding: 32px 0 86px;
    }
  p {
    font-size: 16px;
    line-height: 2;
  }
  &__title {
    text-align: center;
    @media (max-width: 376px) {
        text-align: left;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 376px) {
        margin-top: 20px;
        flex-direction: column;
    }
  }
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
    @media (max-width: 376px) {
        width: 100%;
        border-bottom: 1px solid $gray;
        padding-bottom: 40px;
    }
    &-item {
      h5 {
        margin-bottom: 6px;
      }
      div {
        display: flex;
        flex-direction: column;
        grid-row-gap: 30px;
      }
    }
  }
  &__list {
    width: 45%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 30px;
    @media (max-width: 376px) {
        width: 100%;
        padding-top: 46px;
        grid-row-gap: 40px;
    }
  }
  &__list-item {
    display: flex;
    grid-column-gap: 26px;
    @media (max-width: 376px) {
        flex-direction: column;
    }
    img {
      max-height: 50px;
      width: auto;
      margin-top: 14px;
      @media (max-width: 376px) {
        width: 53px;
        height: 60px;
    }
    }
    h4 {
      color: $blue;
    }
  }
}

.investments {
    padding: 82px 0;
    background: $milk;
    @media (max-width: 376px) {
        padding: 48px 0;
    }
  &__header {
    text-align: center;
    @media (max-width: 376px) {
        text-align: left;
    }
    p {
      font-size: 20px;
      margin-top: 27px;
      line-height: 1.8;
      @media (max-width: 376px) {
        font-size: 16px;
        line-height: 32px;
    }
    }
  }
  &__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 77px;
    @media (max-width: 376px) {
        margin-top: 40px;
        grid-template-columns: 1fr;
        grid-row-gap: 26px;
    }
  }
  &__item {
    img {
        transition: all .1s linear;
        cursor: pointer;
        @media (max-width: 376px) {
            height: 100px;
        }
        &:hover {
            filter: brightness(50%);
        }
    }
    h4 {
        margin-top: 16px;
        @media (max-width: 376px) {
            margin-top: 0;
            font-size: 16px;
line-height: 48px;
        }
    }
    p {
        line-height: 2;
        font-size: 16px;
    }
  }
}

.process {
    padding: 108px 0  172px;
    @media (max-width:376px) {
        padding: 48px 0;
    }
    &__inner {
        @media (max-width:376px) {
            padding-bottom: 48px;
            border-bottom: 1px solid $gray;
        }
    }
    &__header {
        text-align: center;
        @media (max-width:376px) {
           text-align: left;
        }
        p {
          font-size: 20px;
          margin-top: 40px;
          line-height: 1.8;
          @media (max-width:376px) {
            margin-top: 8px;
        }
        }
    }
    &__list {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        grid-row-gap: 24px;
        @media (max-width:376px) {
            margin-top: 32px;
        }
        h4 {
            color: $blue;
        }
        p {
            line-height: 2;
            font-size: 16px;
        }
    }
}

.footer {
    padding: 0 0 206px;
    @media (max-width:376px) {
        padding: 40px 0 73px;
    }
    &__inner {
        max-width: 1150px;
        margin: 0 auto;
        padding: 75px 15px 0;
        border-top: 1px solid $gray;
        display: flex;
        @media (max-width:376px) {
            flex-direction: column;
        }
    }
    &__logo {
        margin-right: 104px;
        @media (max-width:376px) {
            margin-right: 0;
            max-width: 111px;
            margin-bottom: 30px;
        }
    }
    &__list {
        display: flex;
        grid-column-gap: 45px;
        @media (max-width:376px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 30px;
        }
        li {
            display: flex;
            flex-direction: column;
            grid-row-gap: 20px;
            a {
                text-decoration: none;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 1.5;
                color: $darkblue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__copyright {
        margin-left: auto;
        @media (max-width:376px) {
            margin-left: 0;
            margin-top: 40px;
        }
    }
}

.team {
    padding: 150px 0 0;
    &__inner {
        padding-bottom: 85px;
        border-bottom: 1px solid $gray;
    }
    &__header {
        text-align: center;
        margin-bottom: 90px;
        h2 {
            margin-bottom: 27px;
        }
    }
    &__body {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 167px;
    }
    &__body-item {
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 48px;
            color: $blue;
            margin-top: 15px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: $black;
        }
    }
}

.social {
    padding-top: 80px;
    &__inner {
        padding-bottom: 122px;
        border-bottom: 1px solid $gray;
    }
    &__header {
        text-align: center;
        margin-bottom: 90px;
        h2 {
            margin-bottom: 27px;
        }
    }
    &__body {
        margin-top: 93px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 64px;
        grid-row-gap: 68px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        grid-row-gap: 8px;
        h4 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            color: $blue;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        h6 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: rgba($black, 0.4);
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            color: $black;
        }
    }
}

.contact {
    padding: 96px 0 128px;
    &__inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    & .btn__group {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 53px;
    }
    p {
      margin-top: 27px;
    }
}
